<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.ubuntudroid.appbar"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.STATUS_BAR"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <receiver android:name="AppBarStarter" android:enabled="true">
        	<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.USER_PRESENT"/>
				<category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="AppBarService">
        	<intent-filter>
        		<action android:name="de.ubuntudroid.appbar.AppBarService"/>
        	</intent-filter>
        </service>

    </application>
</manifest>